<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
	xmlns:sec="http://thymeleaf.org/extras/spring-security">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
<script src="/bootstrap/css/bootstrap.js"></script>
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="author" content="" />

</head>

<style>
.field-icon {
	float: right;
	margin-left: -25px;
	margin-top: -25px;
	position: relative;
	z-index: 2;
	cursor: pointer;
}

.container {
	padding-top: 50px;
	margin: auto;
}
</style>

<body>
	<div th:replace="fragments/header"></div>
	<div>
		<h2 style="text-align: center">Reset Your Password</h2>
	</div>

	<form th:action="@{/reset_password}" method="post"
		style="max-width: 350px; margin: 0 auto;">
		<input type="hidden" name="token" th:value="${token}" />
		<div class="border border-secondary rounded p-3">
			<div>
				<p>
					<input type="password" name="password" id="password"
						class="form-control" placeholder="Enter your new password"
						required autofocus />
						<span onclick="eyePw()" class="far fa-eye field-icon" id="togglePassword"></span>
				</p>
				<p>
					<input type="password" name="password2" id="password2" class="form-control"
						placeholder="Confirm your new password" required
						oninput="checkPasswordMatch(this);" />
						<span onclick="eyePw2()" class="far fa-eye field-icon" id="togglePassword2"></span>
						
				</p>
				<p class="text-center">
					<input type="submit" value="Change Password" id="submitbutton"
						onsubmit="return myFunction()" class="btn btn-primary" />
				</p>
			</div>
		</div>
	</form>
	<br>
	<div th:replace="fragments/footer"></div>
</body>

<script>
	/* const buttonEl = document.querySelector('submitbutton')
	const passwordE1 = document.getElementById('password')
	const passwordE2 = document.getElementById('password2')

	buttonEl.addEventListener('click', () => passwordE1.value === passwordE2.value ? console.log('They are the same') : 
		console.log('They are different')) */
	
	function checkPasswordMatch(fieldConfirmPassword) {
		if (fieldConfirmPassword.value != $("#password").val()) {
			fieldConfirmPassword.setCustomValidity("Passwords do not match!");
		} else {
			fieldConfirmPassword.setCustomValidity("");
		}
	}
	
	function eyePw() {
		const togglePassword = document.querySelector('#togglePassword');
		 const password = document.querySelector('#password');
		 
		 togglePassword.addEventListener('click', function (e) {
		 // toggle the type attribute
		 const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
		 password.setAttribute('type', type);
		 // toggle the eye slash icon
		 this.classList.toggle('fa-eye-slash');
		});
	}
	  
	  function eyePw2() {
		  const togglePassword2 = document.querySelector('#togglePassword2');
		  const password2 = document.querySelector('#password2');
		 
		  togglePassword2.addEventListener('click', function (e) {
		    // toggle the type attribute
		    const type = password2.getAttribute('type') === 'password' ? 'text' : 'password';
		    password2.setAttribute('type', type);
		    // toggle the eye slash icon
		    this.classList.toggle('fa-eye-slash');
		});
	  }
	  
</script>

</html>

