<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <script src="/bootstrap/css/bootstrap.js"></script>
    <meta charset="utf-8"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>WorldBay</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico"/>
    <!-- Bootstrap icons-->
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
            rel="stylesheet"/>

	<link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-star-rating/4.0.2/css/star-rating.min.css" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-star-rating/4.0.2/js/star-rating.min.js"></script>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/styles.css" rel="stylesheet"/>
</head>
<body>
<!-- Navigation-->
<div th:replace="fragments/header"></div>
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Shop in style</h1>
            <p class="lead fw-normal text-white-50 mb-0">Product</p>
        </div>
    </div>
</header>
<div class="container">

    <select id = "currency" onchange="getCurr(this.value)">
        <option value="SGD">SGD</option>
        <option value="EUR">EUR</option>
        <option value="USD">USD</option>
        <option value="JPY">JPY</option>
    </select>
    <section class="py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="row gx-4 gx-lg-5 align-items-center">
                <div class="col-md-6">
                    <img
                            th:src="@{/uploads/items/{id}/{imageName} (id = ${item.id}, imageName = ${item.images})}"
                            style="width: 90%; height: auto"/>
                </div>
                <div class="col-md-6">


                    <h1 th:text="${item.name}" class="display-5 fw-bolder"></h1>


                    <div class="fs-5 mb-5">
                        <span class="currCurrency">SGD</span><span th:text="${item.price}" class="priceVal"></span>
                    </div>

                    <span th:text="${item.description}"> </span> <br> <br> <br>


                    <div class="text-center">
                        <select id="size" class="btn btn-outline-dark mt-auto"
                                style="width: 250px; height: auto">
                            <option value="s">S</option>
                            <option value="m">M</option>
                            <option value="l">L</option>
                            <option value="xl">XL</option>

                        </select>

                    </div>

                    <br>
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center">


                            <form th:action="@{/cart/add/{itemId}(itemId=${item.id})}"
                                  method="post">
                                <input class="btn btn-outline-dark mt-auto" type="number"
                                       name="quantity" value=1 style="width: 250px; height: auto"/><br>
                                <br> <br>
                                <button class="btn btn-light" style="width: 50%; height: auto">Add
                                    to Cart
                                </button>


                            </form>
                            <br> <br>
                            <div class="text-center">
                                <select id="size" class="btn btn-outline-dark mt-auto"
                                        style="width: 250px; height: auto">
                                    <option value="s">S</option>
                                    <option value="m">M</option>
                                    <option value="l">L</option>
                                    <option value="xl">XL</option>

                                </select>

                            </div>
                            <br>
                            <form th:action="@{/wishlist/add/{itemId}(itemId=${item.id})}"
                                  method="post">
                                <input class="btn btn-outline-dark mt-auto" type="number"
                                       name="quantity" value=1 style="width: 250px; height: auto"/><br>
                                <br> <br>


                                <button class="btn btn-light" style="width: 50%; height: auto">Add
                                    to Wish List
                                </button>


                            </form>


                        </div>

                    </div>
                </div>
                <div class="container">
                    <form class="needs-validation" th:action="@{/items/add_review/{itemId}(itemId=${item.id})}" method="post" enctype="multipart/form-data">
<!--                        <input type="hidden" id="itemID" name="itemId" value="{itemId}(itemId=${item.id})">-->
                        <label for="ratinginput" class="control-label">Give rating for the product:</label>
                        <input id="ratinginput" name="rating" class="rating rating-loading" data-min="0" data-max="5" data-step="0.1" value="2">
                        <textarea class="form-control" name="review" id="review" rows="3"></textarea>
                        <input class="btn btn-success" type="submit" name="Submit"/>
                    </form>
                </div>
                <div class="container">
                    <table>
                        <tr>
                            <th>Rating</th>
                            <th>Review</th>
                        </tr>
                        <th:block id="reviewsVal" th:each="itemReviewValue : ${item.itemsReview}">
                            <!-- a virtual tag in the Thymeleaf -->
                            <tr>
                                <td id="catName" th:text="${itemReviewValue.rating}"></td>
                                <!-- display the value -->
                                <td id="name" th:text="${itemReviewValue.review}"></td>
                            </tr>

                        </th:block>
                    </table>
                </div>

            </div>
        </div>

    </section>





</div>

<footer>
    <div th:replace="fragments/footer"></div>
</footer>

<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
</body>
<script>
async function getCurr(currVal){
	var allPriceVal = document.getElementsByClassName("priceVal");
	var allCurrCurrency = document.getElementsByClassName("currCurrency");
	var baseCurr = allCurrCurrency[0].innerText ;
	var myHeaders = new Headers();
	myHeaders.append("apikey", "MPl8hqkiPRvDmxyv6g6Hon5ph43e0Ohb");

	var requestOptions = {
	  method: 'GET',
	  redirect: 'follow',
	  headers: myHeaders
	};
	var curr_result
	const res = await fetch("https://api.apilayer.com/fixer/latest?symbols=SGD,EUR,USD,JPY&base="+baseCurr, requestOptions)

	curr_result = await res.json();
	console.log(curr_result);

	console.log(currVal);
	for(var i=0; i<allPriceVal.length; i++) {
		console.log(allPriceVal[i].innerText);
		var currPriceVal = parseFloat(allPriceVal[i].innerText);
		var newPrice = currPriceVal * parseFloat(curr_result["rates"][currVal]);
		console.log(newPrice);
		allPriceVal[i].innerText = String(newPrice.toFixed(2));
	}
	for(var i=0; i<allCurrCurrency.length; i++) {
		allCurrCurrency[i].innerText = currVal;
	}

}
</script>
</html>